<!-- begin #header -->
<div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> <b>TNH</b> ERP</a>
        <button type="button" class="navbar-toggle pt-0 pb-0 mr-0" data-toggle="collapse" data-target="#top-navbar">
            <span class="fa-stack fa-lg text-inverse">
                <i class="far fa-square fa-stack-2x"></i>
                <i class="fa fa-cog fa-stack-1x"></i>
            </span>
        </button>
        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- end navbar-header -->
    <!-- begin navbar-collapse -->
    <div class="collapse navbar-collapse" id="top-navbar">
        <ul class="nav navbar-nav">
            <li class="dropdown dropdown-lg">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th-large fa-fw mr-1 mr-md-0"></i> Tổng Quan <b class="caret ml-1 ml-md-0"></b></a>
                <div class="dropdown-menu dropdown-menu-lg">
                    <div class="row " style="font-size: 0.9rem;">
                        <!-- Col Start -->
                        <div class="col-lg-2 col-md-2">
                            <div class="fa-lg mb-2">Quản lý Sản Xuất</div>
                            <div class="m-b-20">
                                <ul class="nav d-block" >
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-pencil-ruler fa-lg mr-3 pb-1"></i><strong>Thiết Kế</strong></a></li>
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-fill-drip fa-lg text-inverse mr-3"></i> <strong>Sản xuất In</strong></a></li>
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-layer-group fa-lg text-inverse mr-3"></i> <strong>Sản xuất Bế</strong></a></li>
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-laptop-house fa-lg text-inverse mr-3"></i> <strong>VP In</strong></a></li>
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-pencil-ruler fa-lg text-inverse mr-3"></i> <strong>Đóng gói</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Col End -->
                        <!-- Col Start -->
                        <div class="col-lg-2 col-md-2">
                            <div class="f-w-700 text-inverse mb-2">Quản lý Chất Lượng</div>
                            <div class="m-b-20">
                                <ul class="nav d-block">
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-pencil-ruler fa-lg text-inverse mr-3"></i> <strong>QCC</strong></a></li>
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-pencil-ruler fa-lg text-inverse mr-3"></i> <strong>QC</strong></a></li>
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-pencil-ruler fa-lg text-inverse mr-3"></i> <strong>QA</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Col End -->
                        <!-- Col Start -->
                        <div class="col-lg-2 col-md-2">
                            <div class="f-w-700 text-inverse mb-2">Quy lý Kho</div>
                            <div class="m-b-20">
                                <ul class="nav d-block">
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-pencil-ruler fa-lg text-inverse mr-3"></i> <strong>Nguyên Liệu</strong></a></li>
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-pencil-ruler fa-lg text-inverse mr-3"></i> <strong>Sản Phẩm</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Col End -->
                        <!-- Col Start -->
                        <div class="col-lg-2 col-md-2">
                            <div class="f-w-700 text-inverse mb-2">Quy lý Hàng Hóa</div>
                            <div class="m-b-20">
                                <ul class="nav d-block">
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-pencil-ruler fa-lg text-inverse mr-3"></i> <strong>Vận Chuyển</strong></a></li>
                                    <li><a href="javascript:;" class="text-ellipsis text-muted"><i class="fas fa-pencil-ruler fa-lg text-inverse mr-3"></i> <strong>Sản Phẩm</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Col End -->
                    </div>
                </div>
            </li>
            
            <li>
                <a href="javascript:;">
                    <i class="fa fa-gem fa-fw mr-1 mr-md-0"></i> Báo cáo sự cố
                </a>
            </li>


        </ul>
    </div>
    <!-- end navbar-collapse -->
    <!-- begin header-nav -->
    <ul class="navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                <i class="fas fa-comments"></i>
                <span class="label">5</span>
            </a>
            <div class="dropdown-menu media-list dropdown-menu-right">
                <div class="dropdown-header">Tin nhắn (5)</div>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <i class="fa fa-bug media-object bg-silver-darker"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Server Error Reports <i class="fa fa-exclamation-circle text-danger"></i></h6>
                        <div class="text-muted f-s-10">3 minutes ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <img src="../assets/img/user/user-1.jpg" class="media-object" alt="" />
                        <i class="fab fa-facebook-messenger text-blue media-object-icon"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">John Smith</h6>
                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                        <div class="text-muted f-s-10">25 minutes ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <img src="../assets/img/user/user-2.jpg" class="media-object" alt="" />
                        <i class="fab fa-facebook-messenger text-blue media-object-icon"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Olivia</h6>
                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                        <div class="text-muted f-s-10">35 minutes ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <i class="fa fa-plus media-object bg-silver-darker"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading"> New User Registered</h6>
                        <div class="text-muted f-s-10">1 hour ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <i class="fa fa-envelope media-object bg-silver-darker"></i>
                        <i class="fab fa-google text-warning media-object-icon f-s-14"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading"> New Email From John</h6>
                        <div class="text-muted f-s-10">2 hour ago</div>
                    </div>
                </a>
                <div class="dropdown-footer text-center">
                    <a href="javascript:;">Xem tất cả</a>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                <i class="fa fa-bell"></i>
                <span class="label">5</span>
            </a>
            <div class="dropdown-menu media-list dropdown-menu-right">
                <div class="dropdown-header">Thông báo (5)</div>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <i class="fa fa-bug media-object bg-silver-darker"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Server Error Reports <i class="fa fa-exclamation-circle text-danger"></i></h6>
                        <div class="text-muted f-s-10">3 minutes ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <img src="../assets/img/user/user-1.jpg" class="media-object" alt="" />
                        <i class="fab fa-facebook-messenger text-blue media-object-icon"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">John Smith</h6>
                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                        <div class="text-muted f-s-10">25 minutes ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <img src="../assets/img/user/user-2.jpg" class="media-object" alt="" />
                        <i class="fab fa-facebook-messenger text-blue media-object-icon"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Olivia</h6>
                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                        <div class="text-muted f-s-10">35 minutes ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <i class="fa fa-plus media-object bg-silver-darker"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading"> New User Registered</h6>
                        <div class="text-muted f-s-10">1 hour ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <i class="fa fa-envelope media-object bg-silver-darker"></i>
                        <i class="fab fa-google text-warning media-object-icon f-s-14"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading"> New Email From John</h6>
                        <div class="text-muted f-s-10">2 hour ago</div>
                    </div>
                </a>
                <div class="dropdown-footer text-center">
                    <a href="javascript:;">Xem tất cả</a>
                </div>
            </div>
        </li>
        <li class="dropdown navbar-user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../assets/img/user/user-13.jpg" alt="" />
                <span class="d-none d-md-inline">Nguyễn Hoài Nam</span> <b class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:;" class="dropdown-item">Chỉnh sử</a>
                <a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">2</span> Email</a>
                <a href="javascript:;" class="dropdown-item">Lịch</a>
                <a href="javascript:;" class="dropdown-item">Cài đặt</a>
                <div class="dropdown-divider"></div>
                <a href="javascript:;" class="dropdown-item">Đăng xuất</a>
            </div>
        </li>
    </ul>
    <!-- end header-nav -->
</div>
<!-- end #header -->