
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.LayoutPageContent = "content-full-width";
    ViewBag.PageOption = "page-content-full-height";

}


<!-- begin vertical-box -->
<div class="vertical-box">
    <!-- begin vertical-box-column -->
    <div class="vertical-box-column width-250">
        <!-- begin vertical-box -->
        <div class="vertical-box">
            <!-- begin wrapper -->
            <div class="wrapper bg-blue-darker text-white">
                Danh sách tài liệu
            </div>
            <!-- end wrapper -->
            <!-- begin vertical-box-row -->
            <div class="vertical-box-row bg-white text-black-transparent-7">
                <!-- begin vertical-box-cell -->
                <div class="vertical-box-cell">
                    <!-- begin vertical-box-inner-cell -->
                    <div class="vertical-box-inner-cell">
                        <!-- begin scrollbar -->
                        <div data-scrollbar="true" data-height="100%" class="wrapper">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="/Document/Elfinder">ElFinder</a></li>
                                <li class="list-group-item"><a href="/Document/Tinymce">Tinymce</a></li>
                            </ul>
                        </div>
                        <!-- end scrollbar -->
                    </div>
                    <!-- end vertical-box-inner-cell -->
                </div>
                <!-- end vertical-box-cell -->
            </div>
            <!-- end vertical-box-row -->
        </div>
        <!-- end vertical-box -->
    </div>
    <!-- end vertical-box-column -->
    <!-- begin vertical-box-column -->
    <div class="vertical-box-column">
        <!-- begin vertical-box -->
        <div class="vertical-box">
            <!-- begin vertical-box-row -->
            <div class="vertical-box-row">
                <!-- begin vertical-box-cell -->
                <div class="vertical-box-cell">
                    <!-- begin vertical-box-inner-cell -->
                    <div class="vertical-box-inner-cell">
                        <!-- begin scrollbar -->
                        <div data-scrollbar="true" data-height="100%" class="wrapper">
                            
                        </div>
                        <!-- end scrollbar -->
                    </div>
                    <!-- end vertical-box-inner-cell -->
                </div>
                <!-- end vertical-box-cell -->
            </div>
            <!-- end vertical-box-row -->
        </div>
        <!-- end vertical-box -->
    </div>
    <!-- end vertical-box-column -->
    <!-- begin vertical-box-column -->
    <div class="vertical-box-column width-250">
        <!-- begin vertical-box -->
        <div class="vertical-box">
            <!-- begin wrapper -->
            <div class="wrapper bg-teal-darker text-white">
                Chi tiết
            </div>
            <!-- end wrapper -->
            <!-- begin vertical-box-row -->
            <div class="vertical-box-row bg-teal text-white">
                <!-- begin vertical-box-cell -->
                <div class="vertical-box-cell">
                    <!-- begin vertical-box-inner-cell -->
                    <div class="vertical-box-inner-cell">
                        <!-- begin scrollbar -->
                        <div data-scrollbar="true" data-height="100%" class="wrapper">
                            Content Area with scrollbar. Try to scroll down.
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            You got the bottom
                        </div>
                        <!-- end scrollbar -->
                    </div>
                    <!-- end vertical-box-inner-cell -->
                </div>
                <!-- end vertical-box-cell -->
            </div>
            <!-- end vertical-box-row -->
        </div>
        <!-- end vertical-box -->
    </div>
    <!-- end vertical-box-column -->
</div>
<!-- end vertical-box -->