@{
    ViewData["Title"] = "Home Page";
    ViewBag.pageContent = "content-builder active full-height";
    ViewBag.content = "content-builder active full-height";
}

@section Css {

    <!-- Begin Add ElFinder Css-->
    <link rel="stylesheet" href="/lib/elfinder/css/theme.css" /> @* <-- NOTE: This file is new and some of the themes may not look quite right if this is used. *@
    <link href="/lib/jqueryui/themes/base/theme.css" rel="stylesheet" />
    <link href="/lib/jqueryui/themes/base/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/lib/elfinder/css/elfinder.full.css" />
    <link href="/custom/css/elfinder/themes/material/css/theme.css" rel="stylesheet" />
    <!-- End Add ElFinder Css-->
}


@section Scripts {

    <!-- elFinder (load latest nightly for this demo) -->
    <script src="lib/elfinder/js/elfinder.full.js"></script>

    <!-- tinyMCE -->
    <script src="/lib/tinymce/tinymce.min.js"></script>
    <!-- tinymceElfinder -->
    <script src="/custom/js/tinymceElfinder.js"></script>

    <script type="text/javascript">
        (function () {
            // make instance
            const mceElf = new tinymceElfinder({
                // connector URL (Use elFinder Demo site's connector for this demo)
                url: 'https://localhost:5001/api/filesystem/connector',
                // elFinder dialog node id
                nodeId: 'elfinder'
            });

            // TinyMCE init
            tinymce.init({
                selector: "textarea",
                height: 400,
                plugins: [
                    "advlist autolink link image lists charmap print preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
                    "table contextmenu directionality emoticons paste textcolor"
                ],
                relative_urls: false,
                remove_script_host: false,
                toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
                toolbar2: "| link unlink anchor | image media | forecolor backcolor  | print preview code ",
                file_picker_callback: mceElf.browser,
                images_upload_handler: mceElf.uploadHandler
            });
        })();

    </script>

}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post">
        <textarea>&lt;p&gt;This TinyMCE editor is fully integrated with the elFinder file manager.&lt;/p&gt;&lt;p&gt;You can upload images on TinyMCE upload dialog and save the result of image editing on TinyMCE to elFinder.&lt;/p&gt;</textarea>
    </form>


</div>
